.item-icon {
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.tripDetailsCard{
  background-color: white;
  color: #004040;
  border-radius: 15px;
  padding: 20px;
  margin: 15px;
  width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);     
}

.tripDetailsContent
 {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #DDDDDD;
    border-radius: 10px;
    text-align: start;
    font-size: 18px;
 }

.tripDetailsDistanceTime
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003030;
    border-radius: 10px;
    margin-top: 10px;
    padding:10px;
 }
 .tripDistance
 {
    flex: 1;
    color:#DDDDDD;
    text-align:center;
    border-right:1px solid #DDDDDD;
    padding-right:10px;
 }
 .tripTime
 {
   flex: 1;
   color: #DDDDDD;
   text-align: center;
   padding-left: 10px;   
 }

 .vertical-dash-line {
   border-left: 3px dashed #003030;
   height: 50px; /* Adjust to match the height of your icons */
   margin: 0 10px; /* Space around the vertical line */
}

.date
 {
   font-size: 15px;
   padding-bottom: 8px;
   padding-left: 7px;
   color:#003030
 }